html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/BarlowSemiCondensed-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/BarlowSemiCondensed-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BarlowSemiCondensed-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/OpenSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
}
::-webkit-input-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
::-ms-input-placeholder {
  color: #666;
}
::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #325D9C;
  color: #fff;
}

::selection {
  background-color: #325D9C;
  color: #fff;
}

input, textarea {
  outline: none;
}
input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red;
}
input:required:valid, textarea:required:valid {
  border-color: green;
}

body {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body.--lock {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  line-height: 1.2;
}